* {
    border: none;
    font-family: 'JetBrains Mono NF', 'Symbols Nerd Font Mono';
    font-size: 12px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    min-height: 25px;
}

window#waybar {
    background: transparent;
}

#custom-arch, #workspaces {
    border-radius: 10px;
    background-color: #11111b;
    color: #b4befe;
    margin-top: 4px;
    margin-right: 4px;
    padding-top: 1px;
    padding-left: 6px;
    padding-right: 10px;
}

#custom-arch {
  font-size: 14px;
  margin-left: 4px;
  color: #b4befe;
}

#workspaces button {
    background: #11111b;
    color: #b4befe;
}

#cpu, #memory, #clock, #backlight, #pulseaudio, #bluetooth, #network, #battery{
    border-radius: 10px;
    background-color: #11111b;
    color: #cdd6f4;
    margin-top: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 4px;
}

#cpu, #backlight, #bluetooth {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 5px;
    margin-right: 0
}

#memory, #pulseaudio, #network {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 5px;
}

#clock {
    margin-right: 0;
}
